@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: 'Noto Sans KR', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  scroll-behavior: smooth;

}

li {
  list-style: none;
  text-decoration: none;
}



.nine_container.active {
  display: grid;
  grid-template-columns: 100vw 100vw 1vw;
}

body {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
}

footer {
  position: relative;
  width: 100%;
  background-color: #3586ff;
  min-height: 215px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon,
footer .menu {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin: 10px 0;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: #fff;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

footer .menu li a {
  font-size: 1.2em;
  color: #fff;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
  transform: scale(1.01);
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.3;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}


.test,
.contents_btn {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: black;
  color: white;
  outline: 0;
  border: 0;
  font-size: 20px;
  border: 1px solid white;
}

.test:hover {
  background-color: white;
  opacity: 0.9;
  color: black;
}

.box.active {
  display: flex;
}

.nine_container {
  overflow: hidden;
  width: 300vw;
  height: 300vh;
  display: none;
  transition: all 0.5s;
  background-color: black;
  z-index: -99;
  color: white;
  text-align: center;
  font-size: 100px;
  border: 1px solid red;
  transform: translateX(-100vw) translateY(-100vh);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.game_arr {
  width: 100vw;
  height: 100vh;
  border: 1px solid white;
}

.game_arr:nth-child(1) {
  overflow: hidden;
}

.box {
  display: none;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  position: absolute;
  top: 45vh;
  left: 47vw;
  position: fixed;
  border-radius: 50%;
  transition: all 0.5s;
  z-index: 1;
  background-color: transparent;
  box-shadow: 0 0 0 5px #ffffff33,
    0 0 0 10px #ffffFF22,
    0 0 0 20px #ffffFF11,
    0 0 20px #ffffFF,
    0 0 50px #ffffFF;
}

.about_me_arr {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: 150px;
  transition: all 3s;
  border: 6px solid transparent;
  border-top: 6px solid #24ecFF;
  border-left: 6px solid #24ecFF;
  animation: animate 3s linear infinite;
  display: none;
}

.about_me_arr.active {
  display: flex;
}

#aboutMe {
  position: absolute;
  top: 195px;
  left: 210px;
  font-size: 3vw;

}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.about_me_arr.active::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 30px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #24ecFF;
  box-shadow: 0 0 0 5px #24ecFF33,
    0 0 0 10px #24ecFF22,
    0 0 0 20px #24ecFF11,
    0 0 20px #24ecFF,
    0 0 50px #24ecFF;
}


.contents {
  width: 100vw;
  height: 700vh;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}

.contents.active {
  display: none;
}

.contents_arr {
  width: 100vw;
  height: 100vh;
}


#home_container {
  position: absolute;
  top: 5%;
  left: 4vw;
  width: 92vw;
  height: 90%;
  padding-top: 25vh;
  padding-left: 3vw;
  display: flex;
  background-color: #dadada;
}


/* Common Mouse Scroll Ele */
.scroll-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 75px;
  height: 80px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  bottom: 0;
  transform: translateX(-50%);
}

.scroll-down.active {
  display: none;
}

.scroll-down span {
  position: absolute;
  display: inline-block;
  top: 20px;
  height: 30px;
  width: 2px;
  left: calc(50% - 1px);
  animation: animateArrow 1.5s infinite linear;
}

@keyframes animateArrow {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(80px);
    opacity: 0;
  }
}

.scroll-down span::before,
.scroll-down span::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
  background: #5D7599;
  border-radius: 3px;
}

.scroll-down span::before {
  transform-origin: bottom;
  transform: rotate(-45deg);
}

.scroll-down span::after {
  transform-origin: bottom;
  margin-left: -1px;
  transform: rotate(45deg);
}


.home_title_container {
  font-family: 'Montserrat', sans-serif;
  opacity: 1;
}

.home_main_title {
  font-size: 5.2rem;
  font-weight: 700;
  color: #5D7599;
  line-height: 15vh;
  text-shadow: 10px 10px #ABB6C8;
}

.home_sub_title {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.home_sub_title_2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #5D7599;
  margin-left: 0.5vw;
}



#portfolio_container {
  width: 100vw;
  height: 60vh;
  margin-top: -5vh;
}

.second_01 {
  font-family: 'Noto Sans KR', sans-serif;

}

.number {
  font-size: 20px;
  margin-top: 100px;
  margin-left: 160px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
}

.sub_sub_title {
  font-size: 28px;
  margin-top: -20px;
  margin-left: 320px;
  font-weight: 900;
  font-family: 'Noto Sans KR', sans-serif;
  max-width: 200px;
}

.sub_sub_title_sub {
  margin-left: 320px;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;

}

.second_01>p:nth-child(4) {
  margin-left: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  width: 180px;
  height: 50px;
  margin-top: 5vh;
  text-align: center;
  background-color: #ABB6C8;

  color: black;
  font-size: 24px;
}

.second_01>ul {
  margin-left: 325px;
  font-size: 1rem;
  margin-top: 20px;
}

.portfolio_container_font {
  width: 100vw;
  height: 70vh;

}

.font_color_img>img {
  width: 30vw;
  height: auto;
}

.font_color_img_2>img {
  width: 30vw;
  height: auto;
  margin-top: 10vh;
}


.color_img_container {
  display: flex;
  margin-left: 16vw;
}

#about_me_arr_container {
  width: 100vw;
  height: 100vh;
  border: 1px solid transparent;
  background-color: #ABB6C8;
}

.about_me_img {
  width: 300px;
  height: 550px;
  border: 1px solid transparent;
  border-right: 1px solid #DADADA;
  margin-left: 270px;
  margin-top: -30px;
}

.about_me_img_img {
  width: 210px;
  height: 210px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 60px;
}

.about_me_img_cnt {
  width: 230px;
  height: 300px;
  margin-top: 40px;
  font-size: 15px;
  font-family: 'notosanskr', sans-serif;
}

.about_me_img_cnt>div {
  margin-top: 25px;
}

.about_me_container {
  display: flex;
}

.about_me_skillcontainer {
  width: 400px;
  height: 500px;
  /* border: 1px solid black; */
  margin-left: 20px;
}

.about_me_timeline_cnt {
  margin-left: 80px;
  margin-top: 10px;
}

.li_animation {
  width: 28vw;
  border: 1px solid black;
  height: 30px;
  margin-left: 160px;
  margin-top: -20px;
}



.li_transparent_1 {
  content: '';
  max-width: 30%;
  background-color: #DADADA;
  transition: 0.8s;
  display: block;
  width: 100%;
  margin-top: -29px;
  margin-left: 161px;
  z-index: -1;
  height: 28px;
  opacity: 0;
}

.li_transparent_2 {
  content: '';
  max-width: 20%;
  background-color: #DADADA;
  transition: 0.8s;
  display: block;
  width: 100%;
  margin-top: -29px;
  margin-left: 161px;
  z-index: -1;
  height: 28px;
  opacity: 0;
}

.li_transparent_3 {
  content: '';
  max-width: 12%;
  background-color: #DADADA;
  transition: 0.8s;
  display: block;
  width: 100%;
  margin-top: -29px;
  margin-left: 161px;
  z-index: -1;
  height: 28px;
  opacity: 0;
}

.li_transparent_4 {
  content: '';
  max-width: 20%;
  background-color: #DADADA;
  transition: 0.8s;
  display: block;
  width: 100%;
  margin-top: -29px;
  margin-left: 161px;
  z-index: -1;
  height: 28px;
  opacity: 0;
}

.li_transparent_1.active {
  opacity: 1;
  animation: liAnimate_1 1 3s;
}

.li_transparent_2.active {
  opacity: 1;
  animation: liAnimate_2 1 3s;
}

.li_transparent_3.active {
  opacity: 1;
  animation: liAnimate_3 1 3s;
}

.li_transparent_4.active {
  opacity: 1;
  animation: liAnimate_4 1 3s;
}

@keyframes liAnimate_1 {
  0% {
    width: 0%;
  }

  100% {
    width: 40%;
  }
}

@keyframes liAnimate_2 {
  0% {
    width: 0%;
  }

  100% {
    width: 30%;
  }
}

@keyframes liAnimate_3 {
  0% {
    width: 0%;
  }

  100% {
    width: 30%;
  }
}

@keyframes liAnimate_4 {
  0% {
    width: 0%;
  }

  100% {
    width: 30%;
  }
}

.skill {
  margin: 20px;
}

.third_arr {
  width: 100vw;
  height: 300vh;
  /* border: 1px solid black; */
}

/* .third_arr.active {
  background-color: #C2C4B6;
  transition: all 1s;
}

.third_arr.active_2 {
  background-color: white;
  transition: all 1s;
}

*/
.third_arr_contents_div {
  width: 100vw;
  height: 200%;
  /* border: 1px solid black; */
}

.third_arr_contents_div_2 {
  width: 100vw;
  height: 200vh;
  /* border: 1px solid black; */
  overflow: hidden;
}

.moduel {
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 5px;
  text-align: right;
  margin-right: 100px;
  font-weight: 700;
}

.moduel_bottom {
  font-size: 12px;
  text-align: right;
  margin-right: 100px;
}

.moduel_even {
  font-size: 50px;
  margin-top: 150px;
  margin-bottom: 60px;
  text-align: left;
  margin-left: 150px;
  font-weight: 700;
}

.first_moduel {
  width: 86vw;
  height: 80vh;
  /* border: 1px solid black; */
  margin-left: 7vw;

}

.gschool {
  width: 52vw;
  height: 60vh;
  border: 7px solid #5D7599;
  border-radius: 20px;
  margin-left: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 100;
}


.gschool_logo {
  font-size: 35px;
  background-color: white;
  width: 30%;
  margin-left: 45vw;
  /* border: 1px solid black; */
  position: absolute;
  text-align: center;
  font-weight: 700;
}

.gschool>a {
  /* position: relative; */
  margin-left: -500px;
  margin-top: 30px;
  transition: all 0.5s;
  color: black;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.gschool>a::before {
  width: 100%;
  border-bottom: 1px solid black;
}

.gschool>a:hover {
  border-bottom: 3px solid black;
}

.gschool_ctn>span {
  font-weight: 700;
}

.gschool_ctn {
  margin-left: 40px;
  font-size: 15px;
  /* background-color: white; */
  width: 100%;
  text-align: start;
}

.third_arr_contents_1 {
  height: 10%;
  /* border: 1px solid black; */

}


.bubble_1 {
  width: 320px;
  height: 320px;
  /* border: 3px solid #ABB6C8; */
  box-shadow: 5px 5px 5px 7px #dadada;
  border-radius: 50%;
  background: linear-gradient(#8ca9d4, #ABB6C8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 0;
  margin-top: 0;
  /* animation: moveDownUp 3s infinite; */
  animation: bubbleChangeBw;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 3s;
  z-index: 2;
}

@keyframes bubbleChangeBw {
  0% {
    margin-top: -80px;
    margin-left: -80px;
    width: 160px;
    height: 160px;
  }

  100% {
    margin-top: 0;
    margin-left: 0;
    width: 320px;
    height: 320px;
  }
}

.bubble_1.active {
  animation: bubbleChange;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 2s;
}

@keyframes bubbleChange {
  0% {
    margin-top: 0;
    margin-left: 0;
  }

  100% {
    margin-top: -80px;
    margin-left: -80px;
    width: 160px;
    height: 160px;
  }
}

.bubble_1_ghost .ghost_1 {
  width: 100%;
  height: 50%;
}

.bubble_1_ghost .ghost_1 .ghost_1_1 {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble_1_ghost .ghost_1 .ghost_1_1>div {
  /* border: 1px solid black; */
  width: 50%;
  height: 80%;
}

.bubble_1_ghost .ghost_1 .ghost_1_1>div>img {
  width: 90%;
  height: auto;

}

.bubble_1_ghost .ghost_1 .ghost_1_1>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble_1_ghost .ghost_1 .ghost_1_1>div>p {
  text-align: start;

}


.bubble_1_ghost {
  width: 86vw;
  height: 150vh;
  border: 1px solid black;
  position: absolute;
  opacity: 0;
  z-index: -99;
}

.bubble_1_ghost.active {
  animation: ghostApear;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 1;
}

.bubble_1.hidden {
  transition: all 1s;
  display: none;
}

@keyframes ghostApear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#br {
  font-size: 40px;
  line-height: 25px;
  font-weight: 500;
  font-family: 'IM_Hyemin-Bold';
}

#br>span {
  color: orange;
}

.bubble_2 {
  width: 320px;
  height: 320px;
  margin-top: 200px;
  margin-left: 750px;
  box-shadow: 5px 5px 10px 5px #dadada;
  border-radius: 50%;
  background: linear-gradient(#8ca9d4, #ABB6C8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  animation: bubbleChangeBw2;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 3s;
}

@keyframes bubbleChangeBw2 {
  0% {
    margin-top: -80px;
    margin-left: -80px;
    width: 160px;
    height: 160px;
  }

  100% {
    margin-top: 200px;
    margin-left: 750px;
    width: 320px;
    height: 320px;
  }
}


.bubble_2.hidden {
  display: none;
}

.bubble_2.active {
  animation: bubbleChange2;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 3s;
}

@keyframes bubbleChange2 {
  0% {
    margin-top: 200px;
    margin-left: 750px;
  }

  100% {
    margin-top: -80px;
    margin-left: -80px;
    width: 160px;
    height: 160px;
  }
}

.bubble_2_ghost {
  width: 86vw;
  height: 150vh;
  border: 1px solid #5D7599;
  position: absolute;
  opacity: 0;
  z-index: -99;
}

.bubble_2_ghost.active {
  animation: ghostApear;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.bubble_3 {
  width: 320px;
  height: 320px;
  /* border: 3px solid #ABB6C8; */
  box-shadow: 5px 5px 5px 8px #dadada;
  margin-left: 230px;
  margin-top: 500px;
  border-radius: 50%;
  background: linear-gradient(#8ca9d4, #ABB6C8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: bubbleChangeBw3;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 3s;
}

@keyframes bubbleChangeBw3 {
  0% {
    margin-top: -80px;
    margin-left: -80px;
    width: 160px;
    height: 160px;
  }

  100% {
    margin-top: 500px;
    margin-left: 230px;
    width: 320px;
    height: 320px;
  }
}


.bubble_3.hidden {
  display: none;
}

.bubble_3.active {
  animation: bubbleChange3;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 3s;
}

@keyframes bubbleChange3 {
  0% {
    margin-top: 500px;
    margin-left: 230px;
  }

  100% {
    margin-top: -80px;
    margin-left: -80px;
    width: 160px;
    height: 160px;
  }
}

.bubble_3_ghost {
  width: 86vw;
  height: 150vh;
  border: 1px solid #5D7599;
  position: absolute;
  opacity: 0;
  z-index: -99;
}

.bubble_3_ghost.active {
  animation: ghostApear;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}


.bubble_3.hidden {
  transition: all 1s;
  display: none;
}

.bubble_4 {
  width: 320px;
  height: 320px;
  /* border: 3px solid #ABB6C8; */
  box-shadow: 5px 5px 5px 8px #dadada;
  margin-top: 800px;
  margin-left: 800px;
  border-radius: 50%;
  background: linear-gradient(#8ca9d4, #ABB6C8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: bubbleChangeBw4;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 3s;
}

@keyframes bubbleChangeBw4 {
  0% {
    margin-top: -80px;
    margin-left: -80px;
    width: 160px;
    height: 160px;
  }

  100% {
    margin-top: 800px;
    margin-left: 800px;
    width: 320px;
    height: 320px;
  }
}


.bubble_4.hidden {
  display: none;
}

.bubble_4.active {
  animation: bubbleChange4;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 3s;
}

@keyframes bubbleChange4 {
  0% {
    margin-top: 800px;
    margin-left: 800px;
  }

  100% {
    margin-top: -80px;
    margin-left: -80px;
    width: 160px;
    height: 160px;
  }
}

.bubble_4_ghost {
  width: 86vw;
  height: 150vh;
  border: 1px solid #5D7599;
  position: absolute;
  opacity: 0;
  z-index: -99;
}

.bubble_4_ghost.active {
  animation: ghostApear;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}


.bubble_4.hidden {
  display: none;
  transition: all 1s;

}

.scroll_container {
  width: 80vw;
  margin-left: 100px;
  height: 100vh;
  border: 1px solid black;
}

.table {
  width: 150px;
  height: 300px;
  /* border: 1px solid black; */
  position: absolute;
  right: 0;
  top: 30%;
  z-index: 99;
  position: fixed;
}